@{ ViewBag.Title = "Copyright Acknowledgements"; }
<div class="container">
    <h2>@ViewBag.Title</h2>
    <p>All images are used in accordance to their respective licenses under fair use laws.</p>
    <hr />
    <a target="_blank" href="https://icons8.com/icon/Lcj8Zj8lL9zg/facebook">facebook</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <hr />
    <a target="_blank" href="https://icons8.com/icon/sIjAGWOh8bN8/instagram">instagram</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <hr />
    <a target="_blank" href="https://icons8.com/icon/019ihpsfnIzp/snapchat">snapchat</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <hr />
    <a target="_blank" href="https://icons8.com/icon/EpFNX0Cz791t/twitter">twitter</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <hr />
    <a target="_blank" href="https://www.pexels.com/photo/pair-of-gray-vans-low-top-sneakers-beside-black-shirt-sunglasses-and-watch-1639729/">Clothing</a> image made by Mnz on
    <a target="_blank" href="pexels.com">Pexels.com</a>
</div>
