@{
    ViewBag.Title = "Store";
}

<!-- make images zoom in on click and have a page come up-->
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-xs-6 col-sm-4"> <img src="~/Content/Images/Store/placeholder_product.jpg" alt="A store item" class="img-responsive img-rounded store-img" /></div>
        <div class="col-xs-6 col-sm-4"> <img src="~/Content/Images/Store/placeholder_product.jpg" alt="A store item" class="img-responsive img-rounded store-img" /></div>
        <div class="col-xs-6 col-sm-4"> <img src="~/Content/Images/Store/placeholder_product.jpg" alt="A store item" class="img-responsive img-rounded store-img" /></div>
        <div class="col-xs-6 col-sm-4"> <img src="~/Content/Images/Store/placeholder_product.jpg" alt="A store item" class="img-responsive img-rounded store-img" /></div>
        <div class="col-xs-6 col-sm-4"> <img src="~/Content/Images/Store/placeholder_product.jpg" alt="A store item" class="img-responsive img-rounded store-img" /></div>
        <div class="col-xs-6 col-sm-4"> <img src="~/Content/Images/Store/placeholder_product.jpg" alt="A store item" class="img-responsive img-rounded store-img" /></div>
        <div class="col-xs-6 col-sm-4"> <img src="~/Content/Images/Store/placeholder_product.jpg" alt="A store item" class="img-responsive img-rounded store-img" /></div>
        <div class="col-xs-6 col-sm-4"> <img src="~/Content/Images/Store/placeholder_product.jpg" alt="A store item" class="img-responsive img-rounded store-img" /></div>
        <div class="col-xs-6 col-sm-4"> <img src="~/Content/Images/Store/placeholder_product.jpg" alt="A store item" class="img-responsive img-rounded store-img" /></div>
    </div>
</div>