@{
    ViewBag.Title = "Team";
}
@*<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>*@

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <img src="~/Content/Images/Team/currentdriver1.jpg" alt="Driver 1" class="img-responsive" />
            <div class="img-caption"><h1>Driver 1</h1></div>
        </div>
        <div class="col-xs-12 col-sm-5">
            <img src="~/Content/Images/Team/currentdriver2.jpg" alt="Driver 2" class="img-responsive" />
            <div class="img-caption"><h1>Driver 2</h1></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-2">
            <img src="~/Content/Images/Team/currentstaff1.jpg" alt="Staff member" class="img-responsive" />
            <div class="img-caption"><h1>TBD</h1></div>
        </div>
        <div class="col-xs-4 col-sm-2">
            <img src="~/Content/Images/Team/currentstaff2.jpg" alt="Staff member" class="img-responsive" />
            <div class="img-caption"><h1>TBD</h1></div>
        </div>
        <div class="col-xs-4 col-sm-2">
            <img src="~/Content/Images/Team/currentstaff3.jpg" alt="Staff member" class="img-responsive" />
            <div class="img-caption"><h1>TBD</h1></div>
        </div>
        <div class="col-xs-4 col-sm-2">
            <img src="~/Content/Images/Team/currentstaff4.jpg" alt="Staff member" class="img-responsive" />
            <div class="img-caption"><h1>TBD</h1></div>
        </div>
        <div class="col-xs-4 col-sm-2">
            <img src="~/Content/Images/Team/currentstaff5.jpg" alt="Staff member" class="img-responsive" />
            <div class="img-caption"><h1>TBD</h1></div>
        </div>
        <div class="col-xs-4 col-sm-2">
            <img src="~/Content/Images/Team/currentstaff6.jpg" alt="Staff member" class="img-responsive" />
            <div class="img-caption"><h1>TBD</h1></div>
        </div>
    </div>
</div>